In [3]:
Names = ['Casey', 'Malik', 'Muna', 'Fiyin', 'Kamsi']
Age = [20, 20, 20, 20, 20]
Height = [6.2, 5.10, 5.11, 5.9, 6.1]

In [4]:
tab = {'Names':Names, 'Age':Age, 'Height':Height}

In [5]:
tab

{'Names': ['Casey', 'Malik', 'Muna', 'Fiyin', 'Kamsi'],
 'Age': [20, 20, 20, 20, 20],
 'Height': [6.2, 5.1, 5.11, 5.9, 6.1]}

In [6]:
Age

[20, 20, 20, 20, 20]

In [7]:
tab.update?

In [8]:
help(tab.pop)

Help on built-in function pop:

pop(...) method of builtins.dict instance
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
    If key is not found, d is returned if given, otherwise KeyError is raised

In [9]:
tab['Names']

['Casey', 'Malik', 'Muna', 'Fiyin', 'Kamsi']

In [12]:
import pandas as pd

In [13]:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [14]:
table = pd.DataFrame?

In [16]:
table = pd.DataFrame(tab)

In [17]:
table

   Names  Age  Height
0  Casey   20    6.20
1  Malik   20    5.10
2   Muna   20    5.11
3  Fiyin   20    5.90
4  Kamsi   20    6.10

In [18]:
def add(a,b):
    return a+b

In [19]:
add(4,5)

9

In [20]:
def subtract(a,b):
    return a-b

In [21]:
subtract(5,4)

1

In [22]:
def add(c,d,e):
    return (c+d)-e

In [24]:
add (5,4,2)

7

In [25]:
def add(a,b):
    '''
    This function adds two numbers: e.g add(3,2), the answer is 5. 
    '''
    return a+b

In [26]:
add?

In [28]:
import math

In [29]:
math.pi

3.141592653589793

In [30]:
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [32]:
math.isqrt(25)

5

In [37]:
math.pi
(2*math.pi*3)

18.84955592153876

In [38]:
def circumference(r):
    return (2*math.pi*r)

In [42]:
circumference(3)

18.84955592153876

In [47]:
x=5
if x==5:
    print('x is equal to 5')
elif x==6:
    print (...)

x is equal to 5

In [52]:
def maximum(a,b,c):
    if a>b and a>c:
        return a
    elif b>a and b>c:
        return b
    elif c>a and c>b:
        return c
    else:
        return 'They are all equal'

In [49]:
maximum(5,3,7)

7

In [53]:
maximum(5,5,5)

'They are all equal'

In [74]:
def sum1(x):
    total = 0
    for i in x:
        total +=  i
    return total

In [73]:
def sum2(x):
    total = 0
    for i in x:
        total= total + i
    return total

In [72]:
def multiply(x):
    total = 1
    for i in x:
        total *= i
    return total

In [70]:
def multiply2(x):
    total = 1
    for i in x:
        total= total * i
    return total

In [71]:
multiply2([1,2,3,4])

24

In [76]:
sum1([1,2,3,4])

10